*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Epilogue', sans-serif;
  font-size: 1.8rem;
  font-weight: 400; }

.container {
  background-color: #faf7f5;
  display: grid;
  grid-template-columns: [full-start] minmax(7rem, 1fr) [center-start] repeat(10, [col-start] minmax(min-content, 11.1rem) [col-end]) [center-end] minmax(7rem, 1fr) [full-end]; }

.header__1 {
  position: relative;
  grid-row: 2/3;
  grid-column: 1/span 2;
  color: #17243a;
  font-size: 7.2rem;
  font-weight: 400;
  line-height: 7.8rem;
  letter-spacing: -0.1rem;
  max-width: 63.5rem; }
  .header__1--bold {
    font-weight: 700; }

.header__2 {
  color: #17243a;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 5.6rem;
  letter-spacing: -0.05rem; }

.header {
  grid-column: center-start / center-end;
  grid-row: 1/2;
  padding: 5rem 0 6.7rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header__logo {
    width: 7.84rem;
    height: 2.48rem; }
  .header__button {
    color: #17243a;
    background: none;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 3.2rem;
    letter-spacing: -0.016rem;
    width: 21.9rem;
    height: 5.6rem;
    border-radius: 0.6rem;
    border: none;
    outline: 2px solid #17243a; }

.hero {
  grid-column: center-start / center-end;
  grid-row: 2/3;
  display: grid;
  grid-template-rows: 10.3rem min-content 4rem min-content 5.2rem min-content;
  grid-template-columns: repeat(2, 1fr) 0.5fr; }
  .hero__text {
    grid-row: 4/5;
    max-width: 35rem;
    color: #49576e;
    line-height: 3.2rem;
    letter-spacing: 0.01rem; }
  .hero__stat--par {
    color: #49576e;
    line-height: 2.6rem;
    letter-spacing: 0.25rem; }
  .hero__button {
    grid-row: 6/7;
    width: 25.6rem;
    height: 6.1rem;
    border-radius: 0.6rem;
    border: none;
    background-color: #17243a;
    color: #faf7f5;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 3.2rem;
    letter-spacing: -0.018rem; }
  .hero__img--line {
    grid-row: 1/2;
    grid-column: 1/span 2;
    justify-self: center;
    width: 28.7rem;
    height: 3.6rem;
    align-self: end;
    position: relative; }
  .hero__statistics {
    justify-self: center;
    display: flex;
    flex-direction: column;
    gap: 6.3rem;
    grid-column: 3/4;
    grid-row: 2/ -1;
    position: relative; }
  .hero__picture {
    grid-row: 1/-1;
    grid-column: 2/3;
    transform: translateX(6%);
    position: relative; }
