.feature{
    grid-row: 3/4;
    grid-column: center-start / center-end;    
    border-radius: 1.5rem;    
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    transform: translateY(50%);
    display: grid;
    grid-template-columns: min-content 3.6rem min-content 5.3rem min-content;
    justify-content: center;
    
    @media only screen and (max-width: $bp-medium){
        grid-row: 4/5;
        grid-template-rows: repeat(4 min-content);
        grid-template-columns: 1fr;
        row-gap: 4rem;
        justify-items: center;
        transform: translateY(14.4rem);
    }
    

    &::before{
        content: "";
        
        top: 4.46rem;
        left: 0;
        height: 92%;
        background-color: $color-bule-dark;
        position: absolute;
        width: 100%;
        z-index: -1;
        border-radius: 1.5rem;
        background-image: url(../img/pattern-blur.svg);
        background-repeat: no-repeat;
        background-position-y: 10rem;
        border-bottom: none;

        @media only screen and (max-width: $bp-medium){
            top: 18.1rem;
            left: 0;
            bottom: 0;
            height: 80%;
            background-position-y: -20rem;
            background-position-x: 9rem;
            
        }
    }

    &__picture{
        grid-column: 1/2;

        @media only screen and (max-width: $bp-medium){
            grid-row: 1/2;
        }
        
    }

    &__image{
        height: 54.5rem;
        
    }

    &__text{
        grid-column: 7/8;
        align-self: center;
        max-width: 35rem;
        display: flex;
        flex-direction: column;
        gap: 4rem;

        @media only screen and (max-width: $bp-medium){
            grid-row: 3/4;
            grid-column: 1/2;
            align-items: center;  
            max-width: 57.3rem;          
        }
    }

    &__header{
        color: $color-cream-white;
        font-weight: 400;

        &--bold{
            font-weight: 700;
        }
    }

    &__line--img{
        grid-column: 3/4;
        align-self: center;
        transform: translateY(-150%);

        @media only screen and (max-width: $bp-medium){
            grid-row: 2/3;
            grid-column: 1/2; 
            transform: translateY(0%);         

        }
    }

    &__p{
        font-size: 2rem;
        color: $color-cream;
        line-height: 3.5rem;
        letter-spacing: 0.01rem;
        @media only screen and (max-width: $bp-medium){
            font-size: 1.8rem;
            
            
        }
       

    }

}