.footer{
    height: 46rem;
    grid-row: 4/5;
    grid-column: full-start/full-end;
    background-color: $color-cream;
    display: grid;
    grid-template-columns:[full-start] minmax(7rem, 1fr) [center-start] repeat( 10,[col-start] minmax(min-content, 11.1rem) [col-end]) [center-end] minmax(7rem, 1fr) [full-end]; 
    @media only screen and (max-width: $bp-medium){
        grid-row: 5/6;
        
    }
    


    &__content{        
        grid-column: center-start / center-end;
        display: flex;
        justify-content: space-between;
        align-items: end;
        padding-bottom: 7.2rem;

        @media only screen and (max-width: $bp-medium){
            height: 40rem;
        }
       
    }

    &__logo{
        width: 8.1rem;
        height: 3.2rem;
    }

    &__social--media{
        width: 11.6rem;
        display: flex;
        justify-content: space-between;
    }
}