.header{
    
    grid-column: center-start / center-end;
    grid-row: 1/2;
    padding: 5rem 0 6.7rem 0;
    

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo{
        width: 7.84rem;
        height: 2.48rem;

    }

    &__button{
        color: $color-bule-dark;        
        background: none;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 3.2rem;
        letter-spacing: -0.016rem;
        width: 21.9rem;
        height: 5.6rem;
        border-radius: 0.6rem;
        border: none;
        outline: 2px solid $color-bule-dark;
        transform: translateX(15%);
        }
}