.header{    
    grid-column: center-start / center-end;
    grid-row: 1/2;
    padding: 5rem 0 6.7rem 0;

    @media only screen and (max-width: $bp-medium){
        padding: 4rem 0 8rem 0;
      }   
      
      @media only screen and (max-width: $bp-small){
        padding: 2.4rem 1.6rem 5.6rem;
      }    

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo{
        width: 8.1rem;
        height: 3.2rem;       
    }

    &__button{
        color: $color-bule-dark;        
        background: none;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 3.2rem;
        letter-spacing: -0.016rem;
        width: 21.9rem;
        height: 5.6rem;
        border-radius: 0.6rem;
        border: none;
        outline: 2px solid $color-bule-dark;
        cursor: pointer;

        &:hover{
            color: $color-cream-white;
            background-color: $color-bule-dark;
        }

        @media only screen and (max-width: $bp-small){
            width: 18.2rem;
            height: 4.8rem;
            font-size: 1.4rem;
            line-height: 2.4rem;
            letter-spacing: -0.014rem;
          }    
        
        }
}