.hero {
    // height: 70vh;
    // background-image: url(../img/image-hero-portrait.webp);
    // background-repeat: no-repeat; 
    // background-position: center;   
    grid-column: center-start / center-end;
    grid-row: 2/3;
    display: grid;
    grid-template-rows: 10.3rem min-content 4rem min-content 5.2rem min-content;
    grid-template-columns:  35rem min-content 1fr .5fr;

    @media only screen and (max-width: $bp-medium){
        grid-template-columns:  35rem min-content;
        grid-template-rows: 8.8rem min-content 4rem min-content 4rem min-content;
        
    }
    &__text{
        grid-row: 4/5;
        max-width: 35rem;
        color: $color-gray;
        line-height: 3.2rem;
        letter-spacing: 0.01rem;
        @media only screen and (max-width: $bp-medium){
            font-size: 1.6rem; 
            letter-spacing: 0.0089rem; 
            line-height: 2.8rem; 
          }
    }

    &__stat--par{        
        color: $color-gray;
        line-height: 2.6rem;
        letter-spacing: 0.25rem;        
    }

    &__button {
        grid-row: 6/7;
        width: 25.6rem;
        height: 6.1rem;
        border-radius: 0.6rem;
        border: none;
        background-color: $color-bule-dark;
        color: $color-cream-white;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 3.2rem;
        letter-spacing: -0.018rem;
        cursor: pointer;
        &:hover{            
            background-image: linear-gradient(135deg, $color-grad-3 0%, $color-grad-2 49.21%, $color-grad-1 100%);
        }
    }

    &__img--line{
        grid-row: 1/2;
        grid-column: 2/3;
        justify-self: center;
        width: 28.7rem;
        height: 3.6rem;
        align-self: end;
        position: relative;
        transform: translateX(-20%);

        @media only screen and (max-width: $bp-medium){
            width: 23.1rem;
            height: 2.9rem;
            transform: translateX(-55%);
        }


    }

    &__statistics{
        justify-self: center;
        display: flex;
        flex-direction: column;
        gap: 6.3rem;
        grid-column: 4/5;
        grid-row: 2/ -1;
        position: relative;
        transform: translateX(-25%);

        @media only screen and (max-width: $bp-medium){
           margin-top: 8.8rem;
            grid-row: 7/8;
            grid-column: 1/span 3;
            flex-direction: row;            
            transform: translateX(0%);           
            gap: 10rem;
        }       
    } 
    
    &__stat{ 

        @media only screen and (max-width: $bp-medium){
         display: flex;
         flex-direction: column;        
         align-items: center;        
        
        }
        
    }
    &__image{
        grid-row: 1/-1;
        grid-column: 2/span 2;
        justify-self: center;
        width: 35rem;
        height: 60rem;

        @media only screen and (max-width: $bp-medium){
        grid-column: 2/span 2;    
        width: 28.1rem;
        height: 48.2rem;
        justify-self: end;        
        }
    }

    &__img{
        width: 100%;
    }

}
 
