.header{
    &__1{
        position: relative;        
        grid-row: 2/3;
        grid-column: 1/span 3;
        color: $color-bule-dark;
        font-size: 7.2rem; 
        font-weight: 400;       
        line-height: 7.8rem;
        letter-spacing: -0.1rem;
        max-width: 63.5rem;
        
        
        @media only screen and (max-width: $bp-medium){
          font-size: 5.6rem; 
          letter-spacing: -0.0778rem; 
          line-height: 6.4rem;
          max-width: 52.3rem;       

        }
        &--bold{                      
            font-weight: 700;            
        }
    }
    
    &__2{
        
        color: $color-bule-dark;
        font-size: 4.8rem;
        font-weight: 700;
        line-height: 5.6rem;
        letter-spacing: -0.05rem;
        
    }  

    &__4{
        font-size: 1.8rem;
        color: $color-cream-white;
        font-weight: 700;
        line-height: 3.2rem;
        letter-spacing: -0.018rem;
    }

    &__5{
        letter-spacing: 0.25rem;
        color: $color-cream;
        font-size: 1.6rem;
        font-weight: 400;


    }

}

.copyright{
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 3.2rem;
    letter-spacing: 0.0083rem;


}

