$color-gold: rgb(213, 150, 108);
$color-black: rgb(21, 21, 21);
$text-color: rgb(68, 68, 68);
$color-white: rgb(255, 255, 255);

$bp-small: 42.25em;
$bp-medium: 56.25em;
$bp-large: 120em;



*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //10px/16px=62.5% -> 1rem=10px   
    
 
}

body {
    
    font-family: 'Outfit', sans-serif;        
    font-size: 2.2rem;
    font-weight: 300;
    color: $text-color;
    line-height: 3.2rem;          
}



.container{
    display: grid;
    grid-template-columns:[full-start] minmax(3rem, 1fr) [center-start] repeat(10,[col-start] minmax(min-content, 11.1rem) [col-end])[center-end] minmax(3rem, 1fr) [full-end];
    row-gap: 18rem;

    // @media only screen and(max-width: 80em){
    //     grid-template-columns:[full-start] minmax(16.5rem, 1fr) [center-start] repeat(10,[col-start] minmax(min-content, 9rem) [col-end])[center-end] minmax(16.5rem, 1fr) [full-end];
    // }
   
}


