.header{
    grid-row: 1/2;
    grid-column: center-start / center-end; 
    display: flex;
    justify-content: space-between;
    padding-top: 19rem;
    
   

    &__content{
        display: flex;
        flex-direction: column;
        gap: 6.4rem;
    }

    &__main--text{
        max-width:35rem;
    min-height: 16rem;
    }
}







