*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  width: 100vw;
  height: 100vh;
  background-color: #ebf1ff;
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.card {
  max-width: 73.6rem;
  height: 51.2rem;
  border-radius: 3.2rem;
  background-color: white;
  display: flex; }
  .card__side--1 {
    width: 50%;
    height: 100%;
    background-image: linear-gradient(#7857ff, #2e2be9);
    border-radius: 3.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 3.8rem 5.4rem 5.5rem; }
    .card__side--1-result {
      width: 20rem;
      height: 20rem;
      border-radius: 50%;
      background-image: linear-gradient(#4e21ca, rgba(36, 33, 202, 0));
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; }
  .card__side--2 {
    display: flex;
    flex-direction: column;
    gap: 1.6rem; }
    .card__side--2-img {
      display: block; }
    .card__side--2-score-1 {
      border-radius: 1.2rem;
      background-color: rgba(255, 87, 87, 0.1); }
    .card__side--2-score-2 {
      border-radius: 1.2rem;
      background-color: rgba(255, 176, 31, 0.1); }
    .card__side--2-score-3 {
      border-radius: 1.2rem;
      background-color: rgba(0, 189, 145, 0.1); }
    .card__side--2-score-4 {
      border-radius: 1.2rem;
      background-color: rgba(17, 37, 212, 0.1); }
    .card__side--2-reaction {
      display: flex;
      color: #ff5757; }
    .card__side--2-memory {
      display: flex;
      color: #ffb01f; }
    .card__side--2-verbal {
      display: flex;
      color: #00bd91; }
    .card__side--2-visual {
      display: flex;
      color: #1125d4;
      justify-content: space-between; }

.content {
  width: 28.8rem;
  padding: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.card__side--1-header2 {
  font-size: 2.4rem;
  font-weight: 700;
  color: #c8c7ff; }

.card__side--1-header1 {
  color: white;
  font-size: 3.2rem;
  font-weight: 700; }

.card__side--1-text {
  font-size: 1.8rem;
  color: #c8c7ff;
  font-weight: 500;
  text-align: center; }

.card__side--2 {
  padding: 4rem; }
  .card__side--2-header2 {
    font-size: 2.4rem;
    font-weight: 700;
    color: #303b5a;
    padding-bottom: 1.2rem; }
  .card__side--2-header3 {
    font-size: 1.8rem;
    font-weight: 500;
    padding-left: 1.2rem; }

.your__result {
  font-size: 7.2rem;
  color: white;
  font-weight: 800;
  line-height: 7.2rem; }

.max__result {
  color: #c8c7ff;
  font-size: 1.8rem;
  font-weight: 700; }

.your__result2 {
  color: #303b5a;
  font-weight: 700; }

.max__result2 {
  color: #303b5a;
  font-weight: 700;
  opacity: 0.5; }

.btn {
  color: white;
  font-size: 1.8rem;
  max-width: 28.8rem;
  min-height: 5.6rem;
  border: none;
  border-radius: 12.8rem;
  background-color: #303b5a;
  cursor: pointer;
  margin-top: 2.5rem; }
  .btn:hover {
    background-image: linear-gradient(#7857ff, #2e2be9); }
