$White: hsl(0, 0%, 100%);
$Light-gray: hsl(212, 45%, 89%);
$Grayish-blue: hsl(220, 15%, 55%);
$Dark-blue: hsl(218, 44%, 22%);


$bp-small: 30em;
$bp-medium: 37.5em;


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //10px/16px=62.5% -> 1rem=10px
}

body { 
    width: 100vw; 
    height: 100vh;    
    font-family: 'Outfit', sans-serif;        
    font-size: 1.5rem;   
    display: flex;
    justify-content: center;
    align-items: center;      
}

