.cta{
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    max-width: 44.5rem;    
    &__header{
              

    }
    &__text{
       max-width: 40rem;
        
    }

    &__bottom{        
        padding-top: 1.6rem;
        display: flex;
        justify-items: start;
        align-items: center;
        gap: 4rem;

        &--text{
            text-transform: uppercase;
            font-weight: 700;
        }

    }
}