.card{

    &__header-1{
        font-size: 2.8rem;
        font-weight: 900;

        @media only screen and (max-width: $bp-small) {
            font-size: 2.2rem;
        }
    }

    &__text{
        color: $Desaturated-blue;
        text-align: center;
        display: block;
        font-size: 1.6rem;
        
    }

    &__header-2{
        font-size: 1.6rem;
        font-weight: 700;

        @media only screen and (max-width: $bp-small) {
            font-size: 1.4rem;
        }
    }

    &__price{
        color: $Desaturated-blue;
        
    }

    &__content-link{
        font-size: 1.4rem;
        font-weight: 700;
        color: $Bright-blue;
        

        @media only screen and (max-width: $bp-small) {
            font-size: 1.3rem;
        }

        &:visited{            
            color: inherit;
           }

        &:hover{            
            text-decoration: none;
            color: #766CF1;        
        }

      
    
    }
   

    &__cancel {
        text-decoration: none;
        color: $Desaturated-blue;
        font-weight: 700;

        &:hover{
        color: black;
        font-weight: 700;
        }
    }
}


.btn {
    color: #fff;
    font-weight: 900;
    background-color: $Bright-blue;
    width: 35.4rem;
    height: 5rem;
    border: none;
    border-radius: 1.1rem;
    cursor: pointer;
    box-shadow: 0 .5rem 2rem rgba(#231F20, .5);
    transition: all .2s;

    &:hover{
       background-color: #766CF1;
    
       
    }

    &:active {
        background-color: #766CF1;        
        transform: translateY(.2em);
    }

    @media only screen and (max-width: $bp-small) {
        width: 27.9rem;
        height: 5rem;
        font-size: 1.5rem;
    }

}


