*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box; }
  @media only screen and (max-width: 120em) {
    html {
      font-size: 62.5%; } }

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1.8rem; }
  @media screen and (max-width: 56.25em) {
    body {
      font-size: 1.6rem; } }

.container {
  display: grid;
  grid-template-rows: repeat(4, min-content);
  grid-template-columns: [full-start] minmax(7rem, 1fr) [center-start] repeat(10, [col-start] minmax(min-content, 11.1rem) [col-end]) [center-end] minmax(7rem, 1fr) [full-end];
  background: linear-gradient(180deg, #FFF 0%, #F0F1FF 100%);
  overflow: hidden;
  row-gap: 11rem; }
  @media screen and (max-width: 56.25em) {
    .container {
      grid-template-columns: [full-start] minmax(2rem, 1fr) [center-start] repeat(10, [col-start] minmax(min-content, 10rem) [col-end]) [center-end] minmax(2rem, 1fr) [full-end]; } }
  @media screen and (max-width: 42.25em) {
    .container {
      grid-template-rows: repeat(5, min-content);
      row-gap: 3rem; } }

.btn {
  width: 16.7rem;
  height: 5.6rem;
  border-radius: 2.8rem;
  border: none;
  color: white;
  font-weight: 700;
  line-height: 2.8rem;
  font-size: 1.8rem; }
  @media screen and (max-width: 56.25em) {
    .btn {
      width: 14rem;
      font-size: 1.6rem; } }

.header__main {
  font-size: 5.6rem;
  font-weight: 800;
  line-height: normal;
  color: #13183f; }
  @media screen and (max-width: 56.25em) {
    .header__main {
      font-size: 4rem; } }

.header__2 {
  font-size: 3.2rem;
  color: white;
  font-weight: 800; }
  @media screen and (max-width: 56.25em) {
    .header__2 {
      font-size: 2.4rem; } }

.header__3 {
  font-size: 2.4rem;
  color: #13183f; }
  @media screen and (max-width: 56.25em) {
    .header__3 {
      font-size: 2rem; } }

.header__4 {
  font-size: 1.8rem;
  color: #f7457d; }

.paragraph {
  color: #84879a; }

.header {
  grid-column: center-start / center-end;
  grid-row: 1/2;
  padding-top: 2.4rem; }
  .header__content {
    display: flex;
    justify-content: space-between; }
  .header__top--logo {
    display: block;
    width: 11.12rem;
    height: 2.7684rem;
    color: #13183f; }
  .header__top--button {
    background-color: #13183f; }
    @media screen and (max-width: 56.25em) {
      .header__top--button {
        height: 4.8rem; } }

.features {
  grid-column: center-start / center-end;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, 35rem);
  column-gap: 3rem;
  row-gap: 8rem;
  padding-top: 23.4rem; }
  @media screen and (max-width: 56.25em) {
    .features {
      column-gap: 1rem;
      padding-top: 2.3rem;
      row-gap: 5.6rem; } }

.feature {
  max-width: 35rem;
  min-height: 32.2rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  border-radius: 1.5rem;
  box-shadow: 0 2.5rem 5rem rgba(19, 24, 63, 0.04);
  background-color: #fff;
  padding: 0 3.2rem 4rem; }
  @media screen and (max-width: 56.25em) {
    .feature {
      max-width: 34rem;
      min-height: 25.9rem;
      padding: 0 2.2rem 3.2rem 3.2rem;
      gap: 1.6rem; } }
  .feature__svg {
    transform: translateY(-50%);
    width: 5.6rem;
    height: 5.6rem; }
  .feature__1 {
    text-align: center;
    padding: 6.4rem 3.2rem 13.8rem;
    background-image: linear-gradient(#ff6f47, #f028a7); }

.footer {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: minmax(6rem, 1fr) minmax(111rem, 1fr) minmax(6rem, 1fr);
  background-color: #13183f; }
  @media screen and (max-width: 56.25em) {
    .footer {
      grid-column: full-start / center-end; } }
  @media screen and (max-width: 42.25em) {
    .footer {
      grid-row: 5/6; } }
  .footer__content {
    padding: 3.2rem 0;
    grid-column: 2/3;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .footer__button {
    background-image: linear-gradient(#4751ff, #f028a7); }

.hero {
  grid-column: center-start / center-end;
  grid-row: 2/3;
  padding-top: 18.56rem;
  display: grid;
  align-items: start;
  grid-template-rows: min-content 2.9rem min-content 4rem min-content; }
  @media screen and (max-width: 56.25em) {
    .hero {
      padding-top: 4rem; } }
  @media screen and (max-width: 42.25em) {
    .hero {
      grid-row: 2/3;
      justify-self: center; } }
  .hero__text {
    display: flex;
    flex-direction: column;
    gap: 2.9rem;
    width: 45.7rem; }
    @media screen and (max-width: 56.25em) {
      .hero__text {
        gap: 2.5rem;
        max-width: 38rem; } }
    @media screen and (max-width: 42.25em) {
      .hero__text {
        max-width: 34.3rem; } }
  .hero__button-2 {
    height: 6.3rem;
    background-image: linear-gradient(#ff6f47, #f028a7);
    grid-column: 1/2;
    grid-row: 3/4; }
    @media screen and (max-width: 56.25em) {
      .hero__button-2 {
        width: 16.7rem; } }
  .hero__picture {
    position: relative;
    grid-column: col-start 5 / center-end;
    grid-row: 2/3; }
    @media screen and (max-width: 42.25em) {
      .hero__picture {
        grid-column: center-start / center-end;
        grid-row: 3/4;
        grid-column: 1 /-1;
        align-self: center; } }
  .hero__image {
    display: block;
    position: absolute;
    top: 40%;
    left: 95%;
    transform: translate(-50%, -50%); }
    @media only screen and (max-width: 120em) {
      .hero__image {
        top: 20%;
        left: 95%;
        transform: translate(-40%, -40%); } }
    @media screen and (max-width: 56.25em) {
      .hero__image {
        top: 5%;
        left: 80%;
        transform: translate(-40%, -40%); } }
    @media screen and (max-width: 42.25em) {
      .hero__image {
        position: relative;
        display: block;
        top: 0;
        left: 0;
        transform: translate(0%, 0%); } }
