$Light-red: hsl(0, 100%, 67%);
$Orangey-yellow: hsl(39, 100%, 56%);
$Green-teal: hsl(166, 100%, 37%);
$Cobalt-blue: hsl(234, 85%, 45%);

$White: hsl(0, 0%, 100%);
$Pale-blue: hsl(221, 100%, 96%);
$Light-lavender: hsl(241, 100%, 89%);
$Dark-gray-blue: hsl(224, 30%, 27%);



//Gradients

//bacground
$Light-slate-blue: hsl(252, 100%, 67%);
$Light-royal-blue: hsl(241, 81%, 54%);

//circle

$Violet-blue: hsla(256, 72%, 46%, 1);
$Persian-blue: hsla(241, 72%, 46%, 0);

$bp-small: 30em;
$bp-medium: 37.5em;


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //10px/16px=62.5% -> 1rem=10px   
}

body { 
    width: 100vw; 
    height: 100vh; 
    background-color: $Pale-blue;    
    font-family: 'Hanken Grotesk', sans-serif;    
    font-size: 1.8rem;   
    display: flex;
    justify-content: center;
    align-items: center;  
      
}

.card{
    max-width: 73.6rem;
    height: 51.2rem;
    border-radius: 3.2rem;
    background-color: $White;
    display: flex;
    

   
        
        

        &__side--1{
            width: 50%;
            height: 100%;
            background-image: linear-gradient($Light-slate-blue, $Light-royal-blue);
            border-radius: 3.2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 3rem;
            padding: 3.8rem 5.4rem 5.5rem;

            &-result{
                width: 20rem;
                height: 20rem;
                border-radius: 50%;
                background-image: linear-gradient($Violet-blue, $Persian-blue);
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
        }

        

    }

    &__side--2 {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;

        &-img{
            display: block;
        }
        


        &-score{

            &-1{
                border-radius: 1.2rem;
                background-color:  rgba($Light-red, .1);                
            }

            &-2{
                border-radius: 1.2rem;
                background-color:  rgba($Orangey-yellow, .1);                
            }

            &-3{
                border-radius: 1.2rem;
                background-color:  rgba($Green-teal, .1);                
            }

            &-4{
                border-radius: 1.2rem;
                background-color:  rgba($Cobalt-blue, .1);                
            }
            
        
        }

        &-reaction{
            display: flex;    
            color: $Light-red;       
            
        }

        &-memory{
            display: flex;
            color: $Orangey-yellow;
        }

        &-verbal{
            display: flex;
            color: $Green-teal;
        }

        &-visual{
            display: flex;
            color: $Cobalt-blue;
            justify-content: space-between;
        }
        


    }

  
}

.content{
    width: 28.8rem;
        padding: 1.6rem;
        display: flex;
        align-items: center; 
        justify-content: space-between; 
}
