$Light-red: hsl(0, 100%, 67%);
$Orangey-yellow: hsl(39, 100%, 56%);
$Green-teal: hsl(166, 100%, 37%);
$Cobalt-blue: hsl(234, 85%, 45%);

$White: hsl(0, 0%, 100%);
$Pale-blue: hsl(221, 100%, 96%);
$Light-lavender: hsl(241, 100%, 89%);
$Dark-gray-blue: hsl(224, 30%, 27%);


$bp-small: 30em;
$bp-medium: 37.5em;


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //10px/16px=62.5% -> 1rem=10px   
}

body { 
    width: 100vw; 
    height: 100vh; 
    background-color: $Cream;    
    font-family: 'Hanken Grotesk', sans-serif;    
    font-size: 1.4rem;   
    display: flex;
    justify-content: center;
    align-items: center;  
      
}

.card{

  
}
