$Very-dark-blue: hsl(233, 47%, 7%);
$Dark-desaturated-blue: hsl(244, 38%, 16%);
$Soft-violet: hsl(277, 64%, 61%);


$White: hsl(0, 0%, 100%);
$Slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
$Slightly-transparent-white: hsla(0, 0%, 100%, 0.6);

$bp-small: 37.5em;
$bp-medium: 58em;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //10px/16px=62.5% -> 1rem=10px   
    
    @media only screen and (max-width: $bp-medium) {
        font-size: 50%;

        @media only screen and (max-width: $bp-small) {
            font-size: 62.5%;
        }
    }    
}

body { 
    width: 100vw; 
    height: 100vh;    
    font-family: 'Lexend Deca', sans-serif; 
    font-family: 'Inter', sans-serif;       
    font-size: 1.5rem;
    background-color: $Very-dark-blue;   
    display: flex;
    align-items: center;
    justify-content: center;      
}

.card{
    max-width: 111rem;
    min-height: 44.6rem;
    background-color: $Dark-desaturated-blue;
    display: flex;
    @media only screen and (max-width: $bp-small) {        
        max-width: 32.7rem;
        min-height: 78rem;
        flex-direction: column;        
    }    

    &__content{
        padding: 7.1rem 9.5rem 5.9rem 7.2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        

        @media only screen and (max-width: $bp-small) {
            text-align: center;
            padding: 3.2rem;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;            
        }      

        &--image {
               
            min-width: 54rem;                                   
            position: relative;

            @media only screen and (max-width: $bp-small) {
               width: 32.7rem;
               height: 24rem;
               order: -1;
                
            }
             &-1{
                display: block;               
                position: absolute; 
                width: 100%;
                
                @media only screen and (max-width: $bp-small) {
                    display: none;
                    
                }
             }
     
             &-2{
                 display: none;

                 @media only screen and (max-width: $bp-small) {
                    display: block;
                    max-width: 32.7rem;
                    height: 24rem;
                    position: absolute;
                }
             }
     
             &-hover{
                 position: absolute;
                 display: block;
                 width: 100%;
                 height: 100%;
                 background-color: $Soft-violet;
                 opacity: .5;

                 @media only screen and (max-width: $bp-small) {                    
                    max-width: 32.7rem;
                    height: 24rem;                 
             }
         }
    } 
    
}
    
    &__stat-headings{        
        display: flex;
        justify-content: space-between;   
        
        @media only screen and (max-width: $bp-small) {                                
            flex-direction: column;   
            gap: 2.4rem;
            padding-top: 4rem;        

     }

    }

}
