$sofa-blue: hsl(215, 51%, 70%);
$Cyan: hsl(178, 100%, 50%);
$Very-dark-blue-main: hsl(217, 54%, 11%);
$Very-dark-blue-card: hsl(216, 50%, 16%);
$Very-dark-blue-line: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);

$bp-small: 25em;


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //10px/16px=62.5% -> 1rem=10px   
}

body { 
    max-width: 144rem;    
    font-family: 'Outfit', sans-serif;       
    font-size: 1.8rem;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: $Very-dark-blue-main;
    display: grid;
    align-content: center;
    justify-content: center;
}


.card {
    max-width: 35rem;
    min-height: 59.6rem;    
    background-color: $Very-dark-blue-card;
    padding: 2.4rem;
    border-radius: .8rem;
    display: flex;
    flex-direction: column;    
    gap: 2.4rem; 
   
    @media only screen and (max-width: $bp-small) {
        width: 32.7rem;
        height: 54.3rem;
    }
    
   

    &__img {        
       position: relative;
       height: 30.2rem;       
       width: 100%;        
       overflow: hidden;
       cursor: pointer;

       @media only screen and (max-width: $bp-small) {
        height: 27.8rem;
        
    }

     
       
       &:hover &--hover {
        opacity: 1;
       }

        &-main{            
            width: 100%;                       
            border-radius: .8rem;
            position: absolute;
        }       

        &--hover {  
            position: absolute;          
            width: 100%;
            height: 100%;
            background-color: rgba($Cyan, .53);
            border-radius: .8rem; 
            display: flex;
            align-items: center;
            justify-content: center;            
            opacity: 0;          
        }
    }

    &__property{
        display: flex;        
        justify-content: space-between;       

        &--price{
        display: flex;
        align-items: center;        
        }

        &--price-logo{
            display: block;
            margin-right: 1rem;
            width: 1.1rem;
            height: 1.8rem;            
        }

        &--time{
            display: flex;
            align-items: center;
        }

        &--time-logo{
            width: 1.6rem;
            height: 1.6rem;
            display: block;
            margin-right: .8rem;           
        }        
    }

    &__line{
        background-color: $Very-dark-blue-line;
        height: 1px;
        width: 100%;
    }

    &__creator{
        display: flex;
        align-items: center;       
        
        &-photo{
            width: 3.3rem;
            border-radius: 50%;
            border: 1.5px solid #fff;
            margin-right: 1.5rem;
        }

       

    }

    

}