.header{    
   display: flex;
   flex-direction: column;  
   justify-content: center;
   background-color: $color-white-2; 
   position: relative;
   overflow: hidden;
   clip-path: ellipse(150% 100% at 50% 0); 

   &::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 83%;
    width: 100%;
    background-color: $color-prymary;
    clip-path: ellipse(150% 100% at 50% 0);
    z-index: -1; 
   }

   &__top {
    margin: 0 16.5rem;
    display: flex;
    padding-top: 5.8rem;
    justify-content: space-between;
   }


    &__main{
        font-size: 8rem;
        font-family: Fraunces;
        font-weight: 600;
        color: $color-white-2;
        text-align: center;
        padding-top: 6.4rem;

        &--line{
            border-bottom: .3rem solid $color-green;
        }
    }

    &__text{ 
        
        color: $color-white-1;
        font-size: 1.8rem;        
        border-bottom: .3rem solid $color-green;
        line-height: 3.2rem;
        font-weight: 700;
        cursor: pointer;
        &:hover{
            color: $color-green;

        }

    
        
       
    }

    &__button{
        margin: 3.7rem auto 4.6rem;

    }


    &__img{

        &--phone{
            display: block;           
            
        }

      

        &--logo{            
            display: block;
            width: 9.6rem;
            height: 2.46rem;
            

        }

        &--1{
            position: absolute;
            display: block;
            top: 20%;
            left: 0;           
            width: 27rem;
            height: 21.5rem;
            transform: translateX(-10rem);
            
            
        }

        &--2 {
            position: absolute;
            top: 40%;
            right: 0;
            display: block;
           width: 14.2rem;
           height: 11.3rem;
           transform: translateX(5rem);
         
           
           
            
        }
    }
    

}


.test__img{ 
    z-index: 410;
    grid-row: 4/5;
    grid-column: 1/-1;
    justify-self: center;
    align-self: center;
    width: 70.2rem;
        height: 40.5rem; 
}