.btn{
    font-size: 1.8rem;
    color: $color-prymary;
    font-weight: 700;
           
    background-color: $color-green;
    border: .2rem solid $color-green;
    cursor: pointer;        

    &:hover{
        color: $color-white-1;
        background-color: transparent;
}

}