$Color-Bul-Light: hsl(234, 25%, 52%);
$Color-Bul-Dark: hsl(233, 54%, 16%);
$color-Gray: hsl(232, 10%, 56%);
$color-Pink-dark: hsl(341, 92%, 62%);
$Color-Pink-Light: hsl(341, 100%, 83%);
$Color-White: hsl(0, 0%, 100%);

$Color-grad-1-1: hsl(13, 100%, 64%);
$Color-grad-1-2: hsl(322, 87%, 55%);


$Color-grad-2-1: hsl(237, 100%, 64%);
$Color-grad-2-2: hsl(322, 87%, 55%);





$bp-small: 37.5em;
$bp-medium: 58em;



*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //10px/16px=62.5% -> 1rem=10px  
     
}

body { 
        
    font-family: 'Plus Jakarta Sans', sans-serif;   
    font-size: 1.8rem;      
       
}

.container{
    background-color: $Color-White;
    overflow: hidden;
    padding: 2.4rem 16.5rem 0rem 16.5rem;
}



