$Color-Bul-Light: hsl(234, 25%, 52%);
$Color-Bul-Dark: hsl(233, 54%, 16%);
$color-Gray: hsl(232, 10%, 56%);
$color-Pink-dark: hsl(341, 92%, 62%);
$Color-Pink-Light: hsl(341, 100%, 83%);
$Color-White: hsl(0, 0%, 100%);

$Color-grad-1-1: hsl(13, 100%, 64%);
$Color-grad-1-2: hsl(322, 87%, 55%);


$Color-grad-2-1: hsl(237, 100%, 64%);
$Color-grad-2-2: hsl(322, 87%, 55%);





$bp-small: 42.25em;
$bp-medium: 56.25em;
$bp-large: 120em;



*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    
    @media only screen and (max-width: $bp-large){
        font-size: 62.5%; //10px/16px=62.5% -> 1rem=10px 
    }

    
     
}

body {         
    font-family: 'Plus Jakarta Sans', sans-serif;   
    font-size: 1.8rem; 
    
    @media screen and (max-width: $bp-medium){
        font-size: 1.6rem;
    }
}

.container{   
    display: grid;
    grid-template-rows: repeat(4, min-content);
    grid-template-columns:[full-start] minmax(7rem, 1fr)[center-start] repeat(10,[col-start] minmax(min-content, 11.1rem) [col-end])[center-end] minmax(7rem, 1fr) [full-end];
    background: linear-gradient(180deg, #FFF 0%, #F0F1FF 100%);
    overflow: hidden;
    row-gap: 11rem;
    
    @media screen and (max-width: $bp-medium){
        grid-template-columns:[full-start] minmax(2rem, 1fr)[center-start] repeat(10,[col-start] minmax(min-content, 10rem) [col-end])[center-end] minmax(2rem, 1fr) [full-end];
        
    }
    
}





