.features{
    grid-column: center-start / center-end;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, 35rem);
    column-gap: 3rem;    
    row-gap: 8rem;    
    padding-top: 23.4rem;

    @media screen and (max-width: $bp-medium){
        column-gap: 1rem;
        padding-top: 2.3rem;
        row-gap: 5.6rem;  
       
      }


}

.feature{
    max-width: 35rem;    
    min-height: 32.2rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    border-radius: 1.5rem; 
    box-shadow: 0 2.5rem 5rem  rgba($Color-Bul-Dark, 0.04);
    background-color: #fff;
    padding: 0 3.2rem 4rem;

      @media screen and (max-width: $bp-medium){
        max-width: 34rem;    
        min-height: 25.9rem;
        padding: 0 2.2rem 3.2rem 3.2rem;
        gap: 1.6rem;
    }

    

    &__svg{
        transform: translateY(-50%);
        width: 5.6rem;
        height: 5.6rem;
    }

    &__1 {  
        text-align: center;
        padding: 6.4rem 3.2rem 13.8rem;     
        background-image: linear-gradient($Color-grad-1-1, $Color-grad-1-2);      

        
    }
}
