.footer {
    grid-column: full-start / full-end;
    display: grid;
    grid-template-columns: minmax(6rem, 1fr) minmax(111rem, 1fr) minmax(6rem, 1fr);     
    background-color: $Color-Bul-Dark;

    @media screen and (max-width: $bp-medium){
        grid-column: full-start / center-end;      
        
    }
    @media screen and (max-width: $bp-small){             
        grid-row: 5/6;

    }

  



    &__content{        
        padding: 3.2rem 0;
        grid-column: 2/3;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }   
    &__button {
        background-image: linear-gradient($Color-grad-2-1, $Color-grad-2-2);
        
    }
}