.header{
    // height: 85vh;
    
    position: relative;
    padding-top: 2.4rem;
    display: flex;
    flex-direction: column; 
    

    &__text{
        display: flex;
        flex-direction: column;
        gap: 2.9rem;
        padding-top: 18.56rem;
        width: 45.7rem;
       
        
    }

    &__top{
        display: flex;
        justify-content: space-between;

        &--logo{
            display: block;
            width: 11.12rem;
            height: 2.7684rem;
            color: $Color-Bul-Dark;
            grid-column: 1/2;
            grid-row: 1/2;


        }

        &--button{
            background-color: $Color-Bul-Dark;
            grid-column: 2/3;
            grid-row: 1/2;
        }


    }

    &__button-2{
        margin-top: 4rem;
        height: 6.3rem;
        background-image: linear-gradient($Color-grad-1-1, $Color-grad-1-2);
        grid-column: 1/2;
        grid-row: 3/4;
        
        
        


    }

    &__img {
        display: block;
        max-width: 99.163rem;
        min-height: 93.692rem;
        
        position: absolute;
        top:0;
        right: 0;
        transform: translate(43%, -13%);
        
        
        

    }


}
