.header{  
    grid-column: center-start / center-end;
    grid-row: 1/2;
    padding-top: 2.4rem;
   
    &__content{
        display: flex;
        justify-content: space-between;
    }

    &__top{
        &--logo{
            display: block;
            width: 11.12rem;
            height: 2.7684rem;
            color: $Color-Bul-Dark;

            @media screen and (max-width: $bp-medium){
                width: 8.9rem;              
              }
           
        }

        &--button{
            background-color: $Color-Bul-Dark;

            @media screen and (max-width: $bp-medium){                
                height: 4.8rem;
              }               
              &:hover{
                background-color: $Color-Bul-Light;
            } 
           
        }
    }
   

}
