.hero{
    grid-column: center-start / center-end;
    grid-row: 2/3;
    padding-top: 18.56rem;
    display: grid;
    align-items: start;
    grid-template-rows:  min-content 2.9rem min-content 4rem min-content;
    // grid-template-columns: repeat(2, 1fr);

    @media screen and (max-width: $bp-medium){
        padding-top: 4rem;       
        
    }

    @media screen and (max-width: $bp-small){  
        grid-row: 2/3;     
        justify-self: center;

    }

    

    &__text{
        display: flex;
        flex-direction: column;
        gap: 2.9rem;       
        width: 45.7rem;

        @media screen and (max-width: $bp-medium){
           gap: 2.5rem;
           max-width: 38rem;
            
        }

        @media screen and (max-width: $bp-small){  
            max-width: 34.3rem;           
    
        }   
       
        
    }

    &__button-2{        
        height: 6.3rem;
        background-image: linear-gradient($Color-grad-1-1, $Color-grad-1-2);
        grid-column: 1/2;
        grid-row: 3/4;

        @media screen and (max-width: $bp-medium){
            width: 16.7rem;            
          }
    }

    &__picture {
        position: relative;
        grid-column: col-start 5 / center-end;
        grid-row: 2/3;


        
    @media screen and (max-width: $bp-small){  
        grid-column: center-start / center-end;           
        grid-row: 3/4;
        grid-column: 1 /-1;
        align-self: center;

    }

    }


    &__image {         
        display: block;
        position: absolute;
        top: 40%;
        left: 95%;
        transform: translate(-50%, -50%);



        @media only screen and (max-width: $bp-large){
            top: 20%;
            left: 95%;
            transform: translate(-40%, -40%);

        }

        @media screen and (max-width: $bp-medium){
            top: 5%;
            left: 80%;
            transform: translate(-40%, -40%);
             
         }

         @media screen and (max-width: $bp-small){  
            position: relative; 
            display: block;          
            top: 0;
            left: 0;
            transform: translate(0%, 0%);
            
    
        }       
        
    }
}