.btn{
    width: 16.7rem;
    height: 5.6rem;
    border-radius: 2.8rem;
    border: none;
    color: $Color-White;
    font-weight: 700;
    line-height: 2.8rem;
    font-size: 1.8rem;

    @media screen and (max-width: $bp-medium){
       width: 14rem;
       font-size: 1.6rem;
     }
    
}

.header{
    &__main{
        font-size: 5.6rem;
        font-weight: 800;
        line-height: normal;
        color: $Color-Bul-Dark;

        @media screen and (max-width: $bp-medium){
            font-size: 4rem;
        }

    }

    &__2{
        font-size: 3.2rem;
        color: $Color-White;
        font-weight: 800;

        @media screen and (max-width: $bp-medium){
           font-size: 2.4rem;
             
         }
    }

    &__3{
        font-size: 2.4rem;
        color: $Color-Bul-Dark;
        @media screen and (max-width: $bp-medium){
            font-size: 2rem;
              
          }
    }

    &__4{
        font-size: 1.8rem;
        color: $color-Pink-dark;

    }

   
}

.paragraph{
    color: $color-Gray;

}