.btn{
    width: 16.7rem;
    height: 5.6rem;
    border-radius: 2.8rem;
    border: none;
    color: $Color-White;
    font-weight: 700;
    line-height: 2.8rem;
    font-size: 1.8rem;
    
}

.header{
    &__main{
        font-size: 5.6rem;
        font-weight: 800;
        line-height: normal;
        color: $Color-Bul-Dark;

    }

    &__2{
        font-size: 3.2rem;
        color: $Color-White;
        font-weight: 800;
    }

    &__3{
        font-size: 2.4rem;
        color: $Color-Bul-Dark;
    }

    &__4{
        font-size: 1.8rem;
        color: $color-Pink-dark;

    }

   
}

.paragraph{
    color: $color-Gray;

}