*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Fraunces', serif;
  font-family: 'Manrope', sans-serif;
  font-size: 1.8rem;
  font-weight: 400; }

.content {
  background-color: #fdfaff; }

.btn {
  font-size: 1.8rem;
  color: #24053d;
  font-weight: 700;
  background-color: #42ffa1;
  border: 0.2rem solid #42ffa1;
  cursor: pointer; }
  .btn:hover {
    color: white;
    background-color: transparent; }

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fdfaff;
  position: relative;
  overflow: hidden;
  clip-path: ellipse(150% 100% at 50% 0); }
  .header::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 83%;
    width: 100%;
    background-color: #24053d;
    clip-path: ellipse(150% 100% at 50% 0);
    z-index: -1; }
  .header__top {
    margin: 0 16.5rem;
    display: flex;
    padding-top: 5.8rem;
    justify-content: space-between; }
  .header__main {
    font-size: 8rem;
    font-family: Fraunces;
    font-weight: 600;
    color: #fdfaff;
    text-align: center;
    padding-top: 6.4rem; }
    .header__main--line {
      border-bottom: 0.3rem solid #42ffa1; }
  .header__text {
    color: white;
    font-size: 1.8rem;
    border-bottom: 0.3rem solid #42ffa1;
    line-height: 3.2rem;
    font-weight: 700;
    cursor: pointer; }
    .header__text:hover {
      color: #42ffa1; }
  .header__button {
    width: 16.1rem;
    height: 6.1rem;
    margin: 3.7rem auto 4.6rem; }
  .header__img--phone {
    display: block; }
  .header__img--logo {
    display: block;
    width: 9.6rem;
    height: 2.46rem; }
  .header__img--1 {
    position: absolute;
    display: block;
    top: 20%;
    left: 0;
    width: 27rem;
    height: 21.5rem;
    transform: translateX(-10rem); }
  .header__img--2 {
    position: absolute;
    top: 40%;
    right: 0;
    display: block;
    width: 14.2rem;
    height: 11.3rem;
    transform: translateX(5rem); }

.test__img {
  z-index: 410;
  grid-row: 4/5;
  grid-column: 1/-1;
  justify-self: center;
  align-self: center;
  width: 70.2rem;
  height: 40.5rem; }

.features {
  padding-top: 11rem;
  padding-bottom: 17.1rem;
  background-color: #fdfaff;
  display: grid;
  grid-template-columns: repeat(auto-fit, 36rem);
  column-gap: 2.6rem;
  align-items: start;
  justify-content: center;
  clip-path: ellipse(150% 100% at 50% 0); }
  .features__img--phone {
    width: 70.2rem;
    height: 40.5rem;
    grid-column: 1 / -1;
    justify-self: center;
    z-index: 10;
    position: absolute; }

.feature {
  display: grid;
  grid-template-rows: 8.4rem repeat(2, min-content);
  justify-items: center;
  row-gap: 2.8rem; }
  .feature__number {
    font-size: 2.4rem;
    font-family: Fraunces;
    font-weight: 600;
    color: #24053d;
    background-color: transparent;
    width: 5.6rem;
    height: 5.6rem;
    border-radius: 50%;
    border: 0.1rem solid #574c61;
    text-align: center;
    padding: 1rem; }
  .feature__header {
    font-size: 3.2rem;
    font-family: Fraunces;
    font-weight: 600;
    line-height: 4rem;
    color: #24053d; }
  .feature__text {
    font-weight: 400;
    line-height: 3.2rem;
    color: #24053d;
    text-align: center; }

.founder {
  background-color: white; }
  .founder__img {
    max-width: 45.01rem; }
  .founder__coment {
    padding: 6.4rem;
    display: grid;
    grid-template-rows: repeat(3, max-content);
    row-gap: 3.2rem;
    max-width: 73rem;
    min-height: 41.3rem;
    background-color: #24053d; }
  .founder__header {
    font-family: Fraunces;
    font-size: 5.6rem;
    font-weight: 600;
    color: #fdfaff; }
  .founder__text {
    color: #fdfaff; }
  .founder__button {
    width: 19rem;
    height: 6.1rem; }
