.phone{
    // width: 17.2%;
    height: 63.125%;   
    aspect-ratio: 0.489;    
    box-shadow: 0px 30px 60px -10px rgba(62, 39, 83, 0.25);
    border-radius: 3rem;
    transform: translate(-30%, 18%);
    // padding: 1.1rem 0.95rem;
    border: none;
    background-color: #F5F3F7;
    border: 1.1rem solid #fff;
    overflow: hidden;
    

    &__top{       
        background-image: linear-gradient(225deg, #E844FF 0%, #8739FF 100%);
        width: 100%;
        height: 13%;
        border-radius: 2rem 2rem 0.6rem 0.6rem;       
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        gap: 3.5%;
        padding: 2rem 1.55rem 0;
        box-shadow: 0px 0px 13px 0px rgba(62, 39, 83, 0.25);
     

        &::before{
            content: "";
            position: absolute;
            caret-color: $color-white;
            width: 56.6%;
            height: 35%;
            background-color: #fff;
            border-radius: 0.6rem 0.6rem 2rem 2rem;
            top: 10%;
            left: 50%;
            transform: translate(-50%, -50%);
            
        }
        


        &--arrow {
            display: block;            
            height: 25%;            
            color: #fff;
            filter: brightness(0) saturate(100%) invert(100%) sepia(3%) saturate(0%) hue-rotate(147deg) brightness(102%) contrast(105%);
        }

        &--img{
            border-radius: 50%;
            width: 10.5%;
            outline: 2px solid $color-white;

            &-dots{
                display: block;            
            height: 30%;            
            color: #fff;
            filter: brightness(0) saturate(100%) invert(100%) sepia(3%) saturate(0%) hue-rotate(147deg) brightness(102%) contrast(105%);

            }
            
            
        }

        &--text{
            display: flex;
            flex-direction: column;
            margin-right: auto;
        }
    }


    &__chat{
        padding: 1.1rem 0.75rem 2.1rem;
        display: flex;
        flex-direction: column;
        gap: 1.6rem;

        &__in{
            display: flex;
            flex-direction: column;
            gap: 0.8rem;

            &--massage{
                background-color: #EEE5F4;
                padding: 0.6rem 0.8rem;
                border-radius: 1rem 1rem 1rem 0.4rem;
                max-width: 12.8rem;

                &-text{
                     color: $moderate-violet;                    
                     font-size: 0.8rem;
                     font-style: normal;
                     font-weight: 400;
                     line-height: 1.1rem;
                     max-width: 11.2rem;
                }
            }
        }


        &__out{
            display: flex;
            flex-direction: column;
            gap: 0.8rem;

            &--massage{
                background-color: #fff;
                padding: 0.6rem 0.8rem;
                border-radius: 1rem 1rem 0.4rem 1rem;
                max-width: 12.8rem;
                align-self: flex-end;
                &-text{
                    color: $dark-violet;
                    font-size: 0.8rem;
                     font-style: normal;
                     font-weight: 400;
                     line-height: 1.1rem;
                     max-width: 11.2rem;                    
                }
                
            }

            &--photo{
                display: flex;
                justify-content: end;
                gap: 0.8rem;               
                overflow: hidden;

                &-img{
                    display: block;
                    width: 4rem;
                    border-radius: 1rem;
                    
                }
            }


        }
    }

    &__price{
        display: flex;
        padding: 1rem 1.6rem 1rem 0.8rem;
        background-image: linear-gradient(225deg, $light-magenta 0%, $light-violet 100%);
        gap: 0.8rem;
        margin-top: -0.8rem;
        box-shadow: 0px 10px 5px -5px rgba(62, 39, 83, 0.05);
        border-radius: 1rem 1rem 1rem 0.4rem;
        max-width: 16rem;

        
    }

    &__checkbox{
        width: 1.2rem;
        
        &__text{   
            color: $color-white;                 
            font-size: 0.8rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.1rem
        }

        &__price{
            color: $color-white;
            font-size: 1.2rem;
            font-style: normal;
            font-weight: 700;
             line-height: 1.1rem;

        }
    }  
    
    &__type{
        position: relative;
        

        &--input{
            padding: 1.31rem 0 0.98rem 1.94rem;
            width: 21.3rem;
            border-radius: 1.6954rem;
            background: $color-white;
            border: none;

            color: $grayish-blue;
            font-family: Rubik;
            font-size: 0.9rem;           
            font-weight: 400;
           letter-spacing: -0.007rem;
        }


        &--svg{
            position: absolute;
            width: 2.5rem;
            top: 10%;
            left: 85%;

        }
    }
    
}