.header{
    &__1{
        color: #3E2753;
        font-family: Rubik;
        font-size: 4rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;   

    }

    &__3{
        font-size: 1.1rem;
        color: $color-white;
        font-weight: 500;

    }

    &__text{
        font-size: 0.8rem;        
        color: $pale-violet;
    }
}

.text{
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    padding-left: 1rem;

    @media only screen and (max-width: $bp-small){
        max-width: 31.1rem;
        align-items: center;
        justify-items: center;
     }

    &__main{
        color: #A39DA9;     
        font-style: normal;
        font-weight: 400;
        line-height: 2.8rem;
        max-width: 44.5rem;

        @media only screen and (max-width: $bp-small){
            min-width: 31.1rem;
            text-align: center;
           
         }
    }

    &__phone{

        font-size: 0.8rem;
         font-style: normal;
         font-weight: 400;
         line-height: 1.1rem;
         max-width: 12.8rem;
    }
}